@charset "UTF-8";


:root {
    --cor-primaria: #E05C00;
    --cor-secundaria: #E18500;
    --cor-terciaria: #E09E00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--cor-secundaria);
    padding: 10px;
    padding-bottom: 2px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    border: 1px white solid;
}

header h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    align-self: center;
}

header img {
    width: 60px;
    height: 60px;
    border-radius: 999px;
    margin: 0 20px;
    margin-bottom: 10px;
}

section.menu {
    align-self: center;
    padding: 15px 0;
}

section.menu a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 8px;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
}

section.menu a:hover {
    background-color: var(--cor-primaria);
    border: 1px solid black;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.496);
    transition: ease 1s;
}

i.material-symbols-outlined {
    display: none;
    align-self: center;
    font-size: 2.5em;
    margin-right: 20px;
    cursor: pointer;
}

hr {
     box-shadow: 0 0 25px 5px var(--cor-secundaria);
}

main {
    background-image: linear-gradient(to bottom, white, #e1830022);
    height: 90vh;
}

main h1 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2.7em;
    margin-top: 70px;
}

main p {
    margin: auto;
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin-bottom: 30px;
}

section.inicio > a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #E05C00;
    background-color: white;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid black;
}

section.inicio > a:hover {
    background-color: var(--cor-primaria);
    color: white;
    transition: ease 1s;
}

section.inicio {
    width: 60%;
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 650px){

    i.material-symbols-outlined {
        display: block;
    }

    section.menu {
        display: none;
    }
    
}
