@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    border: 3px dashed black;
    display: grid;
    grid-template: repeat(calc(47 - 44), 100px) / repeat(1, 100px);
    place-content: space-evenly;
    grid-auto-flow: column;
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
}

body {
    border: 5px dashed rgb(255, 0, 0);
    height: 100vh;
    display: grid;
    place-content: center;
    grid-template: 80% / 80%;
}

div.item {
    padding: 12px;
    border: 3px dashed greenyellow;
}