@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: justify;
}

header h1, header p {
    margin: 20px;
}

main {
    background-color: rgba(128, 128, 128, 0.555);
    padding: 10px;
}

section.oi1 {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
}

section.oi2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

main h2, main p {
    margin: 10px;
}

article {
    flex: 0 1 700px;
    text-align: justify;
    margin: auto;
}

img {
    width: 100%;
    max-width:700px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}




